<ion-card class="welcome-card">
		<img src="/assets/shapes.svg" alt=""/>
		<ion-card-header>
		</ion-card-header>
			<ion-title>SPOILER</ion-title>
		<ion-card-content>
			<h2> Julia Lima <!-- {{post.username}} --> </h2>
			<ion-icon size="large" name="heart" <!-- (click)="likePost(post)" -->
				color="medium<!-- {{post.like ? 'primary' : 'secondary'}} -->">-
			</ion-icon>
			<ion-title>2</ion-title>
		</ion-card-content>
		<p>A spoiler is an element of a disseminated summary or description of any piece of fiction that reveals
			any plot elements which threaten to give away important details. Typically, the details of the conclusion
			of the plot, including the climax and ending, are especially regarded as spoiler material.</p>
</ion-card>

